<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>http basic authentication</title>
</head>
<body>
  <button id="query">查询登录状态</button>
  <button id="exit">退出登录</button>
  <a href="http://user:pwd@localhost:8080/api/httpBasicAuthentication">链接登录</a>
  <script>
    document.querySelector("#query").addEventListener('click', function(){
      fetch('/api/httpBasicAuthentication/login').then(function(response){
        console.log(response);
      })
    })
    
    document.querySelector('#exit').addEventListener('click', function() {
      fetch('/api/httpBasicAuthentication/logout').then(function(response){
        console.log(response);
      })
    })
  </script>
</body>
</html>